

.drupal-turnjs .turn-page {
  background-color: #ccc;
}

.drupal-turnjs .cover {
  background: #333;
}

.drupal-turnjs .cover h1 {
  color:white;
  text-align:center;
  font-size:50px;
  line-height:500px;
  margin:0px;
}

.drupal-turnjs .loader {
  background-image:url(loader.gif);
  width:24px;
  height:24px;
  display:block;
  position:absolute;
  top:238px;
  left:188px;
}

.drupal-turnjs .data {
  text-align: center;
  font-size: 40px;
  color: #999;
  line-height: 500px;
}

#controls {
  width: 800px;
  text-align: center;
  margin: 20px 0px;
  font: 30px arial;
}

#controls input,
#controls label {
  font: 30px arial;
}

.drupal-turnjs .odd {
  background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
  background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
  background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
  background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

.drupal-turnjs .even {
  background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}
