.image-turnjs,
.image-turnjs * {
  box-sizing: content-box;
  margin: 0 auto;
}

.image-turnjs .turn-page {
  background-size: contain;
  background-repeat: no-repeat;
}

/* Adds shadows into centerfold. */
.image-turnjs .turn-page.odd {
  -webkit-box-shadow:
    -1px 0 1px rgb(0 0 0 / 10%) inset,
    -5px 0 5px rgb(0 0 0 / 10%) inset,
    -10px 0 10px rgb(0 0 0 / 10%) inset,
    -20px 0 30px rgb(0 0 0 / 10%) inset;
}
.image-turnjs .turn-page.even {
  -webkit-box-shadow:
    1px 0 1px rgb(0 0 0 / 10%) inset,
    5px 0 5px rgb(0 0 0 / 10%) inset,
    10px 0 10px rgb(0 0 0 / 10%) inset,
    20px 0 30px rgb(0 0 0 / 10%) inset;
}


/* @todo Class not supported yet */
.image-turnjs .cover {
  background: #333;
}
.image-turnjs .cover h1 {
  color:white;
  text-align:center;
  font-size:50px;
  line-height:500px;
  margin:0px;
}

/* @todo Class not supported yet */
.image-turnjs .loader {
  background-image:url(loader.gif);
  width:24px;
  height:24px;
  display:block;
  position:absolute;
  top:238px;
  left:188px;
}
